{% extends 'base.twig' %}

{% block head %}
	<link rel="stylesheet" href="{{ session.Resource_PATH }}customers.css">
	<style>
		.right {
			position: absolute;
			top: 0;
			right: 5px;
		}
	</style>
{% endblock %}

{% block title %}
	Customers
{% endblock %}

{% block main %}
	<script>
		console.log({{ _context | json_encode | raw }});
	</script>
	<div class="table-responsive">
		{{ result|raw }}
	</div>
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item {% if page == 1 %}disabled{% endif %}">
				<a class="page-link" href="?page={{ page - 1 }}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
{% for i in 0..total_pages-1 %}
    <li class="page-item {% if i+1 == page %}active{% endif %}">
        <a class="page-link" href="?page={{ i+1 }}">{{ i+1 }}</a>
    </li>
{% endfor %}

			<li class="page-item {% if page == total_pages %}disabled{% endif %}">
				<a class="page-link" href="?page={{ page + 1 }}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>

{% endblock %}
