{% extends 'base.twig' %}

{% block head %}
	<link rel="stylesheet" href="{{ session.Resource_PATH }}customers.css">
	<style>
		.right {
			position: absolute;
			top: 0;
			right: 5px;
		}
		.page-link {
			background: var(--color-background);
		}
		.page-item.active .page-link {
			background: var(--color-dark-variant);
		}
		.page-item.disabled .page-link {
			background: var(--color-background);
		}
	</style>
{% endblock %}

{% block title %}
	Customers
{% endblock %}

{% block main %}
	<script>
		console.log({{ _context | json_encode | raw }});
	</script>
	<div class="table-responsive">
		{{ result|raw }}
	</div>
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-end">
			<li class="page-item {% if page == 1 %}disabled{% endif %}">
				<a class="page-link" href="?page={{ page - 1 }}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			{% for i in 1..total_pages %}
				<li class="page-item {% if i == page %}active{% endif %}">
					<a class="page-link" href="?page={{ i }}">{{ i }}</a>
				</li>
			{% endfor %}
			<li class="page-item {% if page == total_pages %}disabled{% endif %}">
				<a class="page-link" href="?page={{ page + 1 }}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>

{% endblock %}
