{% extends 'base.twig' %}
{% block head %}
<style>
  .container-grid {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 0;
  }
	.right {
			position: absolute;
			top: 0;
			right: 5px;
	}
  @media (max-width: 992px) {
    .container-grid {
      display: grid;
      width: 96%;
      margin: 0 auto;
      gap: 1.8rem;
      grid-template-columns: 1fr;
    }
  }
</style>
{% endblock %}
{% block title %}
	商品管理
{% endblock %}
{% block main %}
<div class="container">
  {{result|raw}}
  	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-end">
			<li class="page-item {% if page == 1 %}disabled{% endif %}">
				<a class="page-link" href="?page={{ page - 1 }}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			{% for i in 1..total_pages %}
				<li class="page-item {% if i == page %}active{% endif %}">
					<a class="page-link" href="?page={{ i }}">{{ i }}</a>
				</li>
			{% endfor %}
			<li class="page-item {% if page == total_pages %}disabled{% endif %}">
				<a class="page-link" href="?page={{ page + 1 }}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
{% endblock %}
